<!-- Hero Section -->
<div class="container-fluid bg- text-whrite py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold mb-4">Conoce mas sobre MI API</h1>
        <p class="lead mb-4">Aqui puedes saber mas sobre Dragon Ball, Pokémon y Cócteles.</p>
        <div class="d-flex gap-3">
        </div>
      </div>
      <div class="col-lg-6 text-center">
       <img src="https://media.tenor.com/k_kO3UviU6cAAAAC/pikachu.gif" alt="Imagen animada" class="img-fluid">>
      </div>
    </div>
  </div>
</div>

<!-- Sección de Características -->
<div class="container py-5">
  <div class="row g-4">
    <!-- Tarjeta Dragon Ball -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Dragon Ball</h3>
          <p class="card-text">Mas Informacion sobre Dragon Ball.</p>
          <button class="btn btn-warning rounded-pill" routerLink="/dbz">
            Comenzar
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta Pokémon -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Pokémons </h3>
          <p class="card-text">Explora todos sobre los Pokémon.</p>
          <button class="btn btn-warning rounded-pill" routerLink="/pokemon">
           Explorar
          </button>
        </div>
      </div>
    </div>

    <!-- Tarjeta Cócteles -->
    <div class="col-md-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="card-body text-center">
          <h3 class="card-title">Cócteles API</h3>
          <p class="card-text">Informate mas sobre cócteles.</p>
          <button class="btn btn-warning rounded-pill" routerLink="/cocteles">
            Conoce
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

